@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media screen and (max-width:576px) {

    /* <!-- nav related style --> */
    .nav-attribute {
      
        display: none;
    }

    .nav-container, .nav-image {
        
        margin: 0px 20px;
    }

    .nav-hambager {
        visibility: visible;
        margin-right: 20px;
    }
}

    .banner {
      
        margin: 20px 20px;
    }


    
    

    

    .banner-des {
        
        margin: 20px 20px;
    }
    



/* banner styling */
.option-container {
  
    flex-direction: column;
}
.option-container input {
    width:200px;
    
}
.option-container #when {
    width: 212px;
    
    margin-top: 10px;
}
.option-container #select-type {
    width: 212px;
    
    margin-top: 10px;
}


.option-container .btn-primary {
    width: 210px;
  
    margin-top: 10px;
}






































}